<!DOCTYPE html>
<html>
<head>
  <title>WfHistoryx</title>
  <%= stylesheet_link_tag    "wf_historyx/application", :media => "all" %>
  <%= javascript_include_tag "wf_historyx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
